html {
    position: relative;
    min-height: 100%;
}

body {
    background: url("../images/legal-page.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #F9F5DA;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}

#myContainer h1, p {
    /*font-family: 'Rock Salt', cursive;*/
    /*font-family: 'Nothing You Could Do', cursive;*/
    /*font-family: 'Calligraffitti', cursive;*/
    font-family: 'Architects Daughter', cursive;
}

/* buttons */
#myContainer .brownBtn {
    margin-top: 30px;
}
.brownBtn {
    color: #FFFFFF;
    background-color: rgba(120, 52, 27, 0.8);
}
.brownBtn:hover {
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000;
    background-color: rgba(120, 52, 27, 1);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}
/* ----------------------------------------------- */
/* -------------- mainpageloggedin.php ----------- */
.notes-container {
    margin-top: 120px;
}
.note-buttons {
    margin-bottom: 20px;
}
#notePad, #allNotes, #done {
    display: none;
}

textarea {
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    line-height: 1.5em;
    /* border */
    border-left-width: 20px;
    border-color: #8A3B1F;
    padding: 10px;
}
/* ----------------------------------------------- */
/* -------------- profile.php ----------- */
.profile-container {
    margin-top: 120px;
}
.profile-container h2 {
    font-family: 'Architects Daughter', cursive;
}
tr {
    cursor: pointer;
}
































/**/
